@media screen and (min-width: 600px) {
  .align-content {
    margin-left: 180px;
  }
  .loading {
    max-width: 600px;
  }
  .related-wrapper {
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .align-content {
    margin-left: 2vw;
  }
  .related-wrapper {
    max-width: 90vw;
  }
}

.pagination {
  margin-top: 20px;
}

.result-info {
  margin-top: 20px;
}

.loading {
  padding: 0 2vw;
}
